Client/Service References/ServiceReference/LogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestQuestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestQuestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5618/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ClientMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="tns:MessageLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMessage" nillable="true" type="tns:ClientMessage" />
  <xs:simpleType name="MessageLevel">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Information">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Warning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageLevel" nillable="true" type="tns:MessageLevel" />
  <xs:complexType name="ArrayOfClientMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientMessage" nillable="true" type="tns:ClientMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientMessage" nillable="true" type="tns:ArrayOfClientMessage" />
</xs:schema>