Client/Service References/ServiceReference/LogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5618/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestQuestService" />
  <xs:element name="AddRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestQuestService" minOccurs="0" name="msg" nillable="true" type="q1:ClientMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestQuestService" minOccurs="0" name="level" type="q2:MessageLevel" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestQuestService" minOccurs="0" name="GetMessagesResult" nillable="true" type="q3:ArrayOfClientMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>